/* borders */
$border-bases-border-none: 0;
$border-bases-border-half: 0.5px;
$border-bases-border-1: 1px;
$border-bases-border-2: 2px;
$border-bases-border-4: 4px;
$border-bases-border-8: 8px;

/* radius */
$radius-bases-radius-none: 0;
$radius-bases-radius-1: 1px;
$radius-bases-radius-2: 2px;
$radius-bases-radius-4: 4px;
$radius-bases-radius-8: 8px;
$radius-bases-radius-16: 16px;
$radius-bases-radius-24: 24px;
$radius-bases-radius-full: 360px;

/* spacer */
$spacer-bases-spacer-none: 0;
$spacer-bases-spacer-2: 2px;
$spacer-bases-spacer-4: 4px;
$spacer-bases-spacer-6: 6px;
$spacer-bases-spacer-8: 8px;
$spacer-bases-spacer-10: 10px;
$spacer-bases-spacer-12: 12px;
$spacer-bases-spacer-16: 16px;
$spacer-bases-spacer-20: 20px;
$spacer-bases-spacer-24: 24px;
$spacer-bases-spacer-28: 28px;
$spacer-bases-spacer-32: 32px;
$spacer-bases-spacer-40: 40px;
$spacer-bases-spacer-48: 48px;
$spacer-bases-spacer-56: 56px;
$spacer-bases-spacer-64: 64px;
$spacer-bases-spacer-80: 80px;
$spacer-bases-spacer-96: 96px;
$spacer-bases-spacer-120: 120px;
$spacer-bases-spacer-160: 160px;
$spacer-bases-spacer-240: 240px;
$spacer-bases-spacer-320: 320px;
$spacer-bases-spacer-400: 400px;

/* typography */
$typography-bases-font-size-2xs: 10px;
$typography-bases-font-size-xs: 12px;
$typography-bases-font-size-sm: 14px;
$typography-bases-font-size-md: 16px;
$typography-bases-font-size-lg: 20px;
$typography-bases-font-size-xl: 24px;
$typography-bases-font-size-2xl: 32px;
$typography-bases-font-size-3xl: 40px;
$typography-bases-font-size-4xl: 48px;
$typography-bases-letter-spacing-tighter: -0.8px;
$typography-bases-letter-spacing-tight: -0.4px;
$typography-bases-letter-spacing-normal: 0;
$typography-bases-letter-spacing-wide: 0.4px;
$typography-bases-letter-spacing-wider: 0.8px;
$typography-bases-line-height-2xs: 14px;
$typography-bases-line-height-xs: 16px;
$typography-bases-line-height-sm: 20px;
$typography-bases-line-height-md: 24px;
$typography-bases-line-height-lg: 28px;
$typography-bases-line-height-xl: 32px;
$typography-bases-line-height-2xl: 40px;
$typography-bases-line-height-3xl: 48px;
$typography-bases-line-height-4xl: 56px;

/* font weight */
$typography-bases-font-weight-thin: 100;
$typography-bases-font-weight-extralight: 200;
$typography-bases-font-weight-light: 300;
$typography-bases-font-weight-regular: 400;
$typography-bases-font-weight-medium: 500;
$typography-bases-font-weight-semibold: 600;
$typography-bases-font-weight-bold: 700;
$typography-bases-font-weight-extrabold: 800;
$typography-bases-font-weight-heavy: 900;
$typography-bases-font-weight-black: 900;

